.blackpug img {
  max-width: 90%;
}
body {
  background-color: #afeeee
}
h1 {
  font-family: Helvetica;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  font-size: 70px;
}
h3 {
  font-family: Helvetica;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  font-size: 50px;
}
h5 {
  font-family: Helvetica;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.header2 {
  margin: 50px;
  padding-bottom: 50px;
}
.header3 {
  margin: 50px;
}
.footer {
  margin: 50px;
}
